mixin slide(slide)
  //- increment slide number
  - SLIDE_NUMBER += 1;

  .slide(id= (slide.id || cv.cviceni.slug + '-' + SLIDE_NUMBER) class= slide.class)
    include navigation.pug

    //- shared modules on all slides
    +zadani(slide.zadani)
    +napoveda(slide.napoveda)

    //- place all slide specific modules here
    if block
      block

    .row.navigation-with-feedback
      +mamHotovo({done: false, default: slide.zpetnaVazba ? slide.zpetnaVazba.text : false, hover: t.feedback.hover[lang]})
